.root {-fx-font-size: 13;}
.ikonli-font-icon {-fx-font-size: 15;}
.btn-sm {-fx-font-size: 10;}
.btn-xs {-fx-font-size: 8;}

.threads-tab-pane > .tab-header-area {-fx-padding: 5 0 0 112 ;}
.flows-tab-pane > .tab-header-area {-fx-padding: 10 0 0 230 ;}

.flows-combo {-fx-pref-width: 127; -fx-font-size: 13;}
