{:paths ["src" "resources"]
 :deps {org.clojure/clojure         {:mvn/version "RELEASE"}
        com.taoensso/sente          {:mvn/version "1.16.0"}
        http-kit/http-kit           {:mvn/version "2.4.0"}
        compojure/compojure         {:mvn/version "1.6.2"}
        ring-cors/ring-cors         {:mvn/version "0.1.13"}
        ring/ring                   {:mvn/version "1.7.1"}
        org.clojure/core.async      {:mvn/version "1.3.610"}
        cljfx/cljfx                 {:mvn/version "1.7.10"}
        cljfx/css                   {:mvn/version "1.1.0"}
        zprint/zprint               {:mvn/version "1.0.0"}
        
        org.kordamp.ikonli/ikonli-javafx {:mvn/version "11.5.0"}
        org.kordamp.ikonli/ikonli-materialdesign-pack {:mvn/version "11.5.0"}
        ;; org.kordamp.ikonli/ikonli-javafx {:mvn/version "2.6.0"}
        ;; org.kordamp.ikonli/ikonli-materialdesign-pack {:mvn/version "2.6.0"}

        jpmonettas/flow-storm       {
                                     :mvn/version "0.2.7-SNAPSHOT"
                                     ;;:local/root "/home/jmonetta/my-projects/flow-storm"
                                     }

        }}
