{:paths ["src" "resources"]
 :deps {org.clojure/clojure         {:mvn/version "RELEASE"}
        com.taoensso/sente          {:mvn/version "1.16.0"}
        http-kit/http-kit           {:mvn/version "2.4.0"}
        compojure/compojure         {:mvn/version "1.6.2"}
        ring-cors/ring-cors         {:mvn/version "0.1.13"}
        ring/ring                   {:mvn/version "1.7.1"}
        org.clojure/core.async      {:mvn/version "1.3.610"}
        cljfx/cljfx                 {:mvn/version "1.7.10"}
        cljfx/css                   {:mvn/version "1.1.0"}
        zprint/zprint               {:mvn/version "1.0.0"}
        juji/editscript             {:mvn/version "0.4.6"}
        com.stuartsierra/component  {:mvn/version "1.0.0"}
        org.clojure/tools.cli       {:mvn/version "1.0.194"}
        com.taoensso/timbre         {:mvn/version "5.1.0"}
        com.cognitect/transit-clj   {:mvn/version "1.0.324"}}
 :aliases {:dev {:extra-paths ["dev-src"]
                 :extra-deps {jpmonettas/flow-storm {
                                                     ;;:mvn/version "0.3.2"
                                                     :local/root "/home/jmonetta/my-projects/flow-storm"
                                                     }}}
           :build {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
                   :main-opts ["-m" "hf.depstar.jar"]
                   :jvm-opts ["-Dcljfx.skip-javafx-initialization=true"] }
           :jdk8 {:extra-deps {org.kordamp.ikonli/ikonli-javafx {:mvn/version "2.6.0"}
                               org.kordamp.ikonli/ikonli-materialdesign-pack {:mvn/version "2.6.0"}}}
           :jdk11 {:extra-deps {org.kordamp.ikonli/ikonli-javafx {:mvn/version "11.5.0"}
                                org.kordamp.ikonli/ikonli-materialdesign-pack {:mvn/version "11.5.0"}}}}}
