;; shadow-cljs configuration
{:deps {:aliases [:cljs-storm :dev]}

 :builds
 {:dev-test {:target :node-script
             :main dev/-main
             :output-to "public/dev-test.js"}}

 :nrepl {:port 9000
         :middleware [refactor-nrepl.middleware/wrap-refactor
                      cider.nrepl/cider-middleware
                      cider.piggieback/wrap-cljs-repl
                      flow-storm.nrepl.middleware/wrap-flow-storm]}
 }
