
@font-face {
    src: url('fonts/Roboto-Light.ttf');
}

@font-face {
    src: url('fonts/Roboto-Medium.ttf');
}

.main-pane {
	-fx-font-family: 'Roboto Medium';    
}

.separator-label {
    -fx-text-fill: -fx-theme-separator;
}

.tab .ikonli-font-icon {
    -fx-icon-color: -fx-theme-button2-text;
	-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}

.tab {
    -fx-opacity: 0.5;
    -fx-text-fill: -fx-theme-button1-text;
}

.tab: selected {
        -fx-opacity: 1;
}

.vertical-tab:selected {
	-fx-background-color: -fx-theme-selected-main-tools-tab-background;
}

.vertical-tab:selected .tab-label { 
	-fx-text-fill: -fx-theme-selected-main-tools-tab-text;
}

.button {
	-fx-background-color: -fx-theme-button1-background;
    -fx-text-fill: -fx-theme-button1-text;    
}

.button.thread-continue-btn {
    -fx-background-color: -fx-theme-breakpoint-continue;
}

.thread-blocked {
	-fx-text-fill: -fx-theme-breakpoint;
}

.button.clear-break-btn {
	-fx-background-color: -fx-theme-breakpoint;
}

.link-lbl {
	-fx-text-fill: -fx-theme-links;
	-fx-cursor: hand;
}

.light {
	-fx-opacity: 0.3;
}

.button:hover {
    -fx-background-color: -fx-theme-button-hover;
    -fx-color: -fx-hover-base;
}

.button:focused { /* this is so buttons doesn't look smaller when they are focused */
	-fx-background-insets: 0 0 -1 0;
}

.button .ikonli-font-icon {
	-fx-icon-color: -fx-theme-button1-text;
}

.text-field {
    -fx-prompt-text-fill: -fx-theme-button2-text;
}

.conn-status-lbl.ok {
	-fx-background-color: -fx-theme-ok;
	-fx-text-fill: #323232;
}
.conn-status-lbl.fail {
	-fx-background-color: -fx-theme-fail;
	-fx-text-fill: #323232;
}

.tree-search {
	-fx-background-insets: 1 0 1 0;
}

.form-pane {
	-fx-background-color: -fx-theme-base2;
}

.form-pane.form-background-highlighted {
	-fx-background-color: -fx-theme-form-highlight;
} 

.label.defmethod {
	-fx-text-fill: -fx-theme-defmethod-text;
}

.label.defn {
	-fx-text-fill: -fx-theme-defn-text;
}

.label.extend-type {
	-fx-text-fill: -fx-theme-extend-text;
}

.label.extend-protocol {
	-fx-text-fill: -fx-theme-extend-text;
}

.label.anonymous {
	-fx-text-fill: -fx-theme-defn-text;
}

.label.fn-ns {
	-fx-text-fill: -fx-theme-dim-text;
}

.code-token {
	-fx-font-family: 'monospaced';
    -fx-fill: -fx-theme-flow-code-text;
}
.code-token.executing {
    -fx-stroke: -fx-theme-flow-code-executing-text;
    -fx-fill: -fx-theme-flow-code-executing-text;
	-fx-stroke-width: 1;
}

.code-token.interesting {
	-fx-fill: -fx-theme-flow-code-interesting-text;
	-fx-cursor: hand;
	-fx-font-weight: bold;
}

.code-token.possible {
    -fx-cursor: default;
}

.forms-scroll-container {
	-fx-padding: 10 0 0 0;
}

.form-pane {
	-fx-padding: 10;    
}

.thread-controls-pane {
	-fx-background-color: -fx-theme-base2;
	-fx-padding: 10;
}

.trace-position-box {
	-fx-alignment: center;
}

/*****************/
/* Browser stuff */
/*****************/

.label.browser-fn-fq-name {
	-fx-font-weight: bold;
    -fx-text-fill: -fx-theme-button1-background;
	-fx-padding: 10;
}

.browser-fn-args-box {
	-fx-padding: 10;
}

.label.browser-fn-attr {
	-fx-padding: 10;
}

.button.browser-instrument-btn {
    -fx-display: none;
	visibility: hidden;
}

.button.browser-break-btn {    
	visibility: hidden;
    -fx-background-color: -fx-theme-breakpoint;
}

.button.browser-break-btn.enable {
	visibility: visible;
}

.button.browser-instrument-btn.enable {
	visibility: visible;
}

.browser-var-buttons {
	-fx-padding: 10;
}

.browser-instr-type-lbl {
	-fx-text-fill: -fx-theme-dim-text;
}

.browser-instr-tools-box {
	-fx-padding: 10;
}

.main-bottom-bar-box {
	-fx-background-color: -fx-theme-base1;
}

.button.reload-tree-btn {
	-fx-background-color: -fx-theme-button2-background;
}

/*******************/
/* Value inspector */
/*******************/

.value-inspector-main-pane {
	-fx-padding: 10;
}

.value-inspector-header {
	-fx-padding: 10;
}

.value-inspector-stack-pane {
	-fx-padding: 10;
	-fx-background-color: -fx-theme-base2;
}

.value-inspector-stack-pane .stack-bar-btn {
	-fx-background-color: -fx-theme-breadcrums; 
}

/****************/
/* Docs browser */
/****************/

.docs-fn-name {
	-fx-font-weight: bold;
    -fx-text-fill: -fx-theme-title-label;
	-fx-padding: 5;
}

.docs-label {
	-fx-text-fill: -fx-theme-field-label;
	-fx-padding: 5;
}

.docs-example-box {
	-fx-padding: 10;
}

.docs-box {
	-fx-padding: 10;
	-fx-background-color: -fx-theme-base2;
}

.docs-type-name {
	-fx-text-fill: -fx-theme-extend-text;    
}

.docs-arg-symbol {
	-fx-text-fill: -fx-theme-dim-text;    
}

.hidden-pane {
	-fx-display: none;
	visibility: hidden;
}

.docs-example-ret-symbol {
	-fx-text-fill: -fx-theme-links;
}

/*****************/
/* Timeline tool */
/*****************/

.timeline-tool .controls-box {
    -fx-padding : 10;
}
