* {
	-fx-theme-base1:                              #ddd;	
	-fx-theme-base2:                              #eee;
	-fx-theme-base3:                              #ebecff;

	-fx-theme-separator:                          #919191;
	-fx-theme-dim-text:                           #919191;
    -fx-theme-button1-background:                 #336699;
	-fx-theme-button1-text:                       white;
    -fx-theme-button-hover:                       #9c0084;
    -fx-theme-button2-background:                 #919191;
    -fx-theme-button2-text:                       #0b0d2e;
	
	-fx-theme-selected-main-tools-tab-background: #4743ba;
	-fx-theme-selected-main-tools-tab-text:       white;	

    -fx-theme-flow-code-text:                     #3f474f;
	-fx-theme-flow-code-executing-text:           #3f474f;
	-fx-theme-flow-code-executing-background:     #43e8a4;
	-fx-theme-flow-code-executing-background-dim: #9de3c6;
	-fx-theme-flow-code-interesting-text:         #eb34d5;

    -fx-theme-defmethod-text:                     #9c0084;
	-fx-theme-defn-text:                          #222;
	-fx-theme-extend-text:                        #369658;
	-fx-theme-links:                              #9c0084;
	-fx-theme-breadcrums:                         #9c0084;
	-fx-theme-ok:                                 #00ff00;
	-fx-theme-attention:                          #ff0000;
    -fx-theme-warning:                            orange;
	-fx-theme-title-label:                        #336699;
	-fx-theme-field-label:                        #9c0084;
	-fx-theme-breakpoint:                         #ff0000;
	-fx-theme-breakpoint-continue:                #369658;
    -fx-theme-form-highlight:                     #BBBBBB;
    -fx-theme-list-selection:                     #afbbc4;
}

.root {
        -fx-base: -fx-theme-base1;
        -fx-background: -fx-theme-base1;
        -fx-control-inner-background:  -fx-theme-base1;
}
