html a {
  color: pink;
}

html button {
  cursor: pointer;
}

html body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #292c34;
  color: #fcfcfc;
}

html body #app {
  height: 100%;
}

html body #app .main-screen {
  height: 90%;
}

html body #app .main-screen .no-flows {
  text-align: center;
  margin: 100px;
}

html body #app .main-screen .scrollable {
  overflow: scroll;
}

html body #app .main-screen .panel {
  padding: 10px;
  margin: 5px;
  border: 1px solid #aaa;
}

html body #app .main-screen .panel.controls {
  overflow: hidden;
}

html body #app .main-screen .tab {
  border: 1px solid #aaa;
  display: inline-block;
  cursor: pointer;
}

html body #app .main-screen .tab.active {
  background-color: #394e68;
}

html body #app .main-screen .tab .name {
  font-size: 12px;
}

html body #app .main-screen .tab .close {
  font-size: 10px;
  margin-left: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

html body #app .main-screen .flows {
  height: 100%;
}

html body #app .main-screen .flows .flows-tabs .tab {
  min-width: 50px;
  padding: 5px;
}

html body #app .main-screen .flows .selected-flow {
  height: 100%;
  padding: 5px;
}

html body #app .main-screen .flows .selected-flow .trace-count {
  margin-left: 10px;
}

html body #app .main-screen .flows .selected-flow .hl {
  background-color: #902638;
  border-radius: 5px;
}

html body #app .main-screen .flows .selected-flow .flow-code-result {
  height: 95%;
  display: flex;
}

html body #app .main-screen .flows .selected-flow .flow-code-result .code-panel {
  width: 50%;
  display: inline-block;
  min-width: 450px;
}

html body #app .main-screen .flows .selected-flow .flow-code-result .code-panel .code {
  height: 100%;
}

html body #app .main-screen .flows .selected-flow .flow-code-result .traces {
  width: 1000px;
}

html body #app .main-screen .flows .selected-flow .flow-code-result .traces .trace {
  cursor: pointer;
}

html body #app .main-screen .flows .selected-flow .flow-code-result .result-panel {
  width: 50%;
  display: inline-block;
  min-width: 450px;
}

html body #app .main-screen .flows .selected-flow .flow-code-result .result-panel .result-tabs .tab {
  font-size: 12px;
  padding-left: 4px;
  padding-right: 4px;
}

html body #app .main-screen .flows .selected-flow .flow-code-result .result-panel .result {
  height: 97%;
  padding-top: 10px;
}